@model QuizApp.Models.Question

<form method="post" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <input asp-for="Quest" class="form-control" placeholder="Title" />
        <span asp-validation-for="Quest" class="text-danger"></span>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <input asp-for="Answ0" class="form-control" placeholder="Title" />
            <span asp-validation-for="Answ0" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <input asp-for="Answ1" class="form-control" placeholder="Title" />
            <span asp-validation-for="Answ1" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <input asp-for="Answ2" class="form-control" placeholder="Title" />
            <span asp-validation-for="Answ2" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <input asp-for="Answ3" class="form-control" placeholder="Title" />
            <span asp-validation-for="Answ3" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <a asp-route-Id="@Model.Id" asp-action="Delete" class="btn btn-danger col-md-6">Delete Question &nbsp;<i class="fas fa-trash"></i></a>
        <button type="submit" class="btn btn-dark col-md-6">Save Changes &nbsp;<i class="fas fa-check"></i></button>
    </div>
</form>