@model IEnumerable<QuizApp.Models.Quiz>
@{
    ViewData["Title"] = "Quiz";
}

<h1>Quiz List</h1>

<a asp-controller="Quiz" asp-action="Create" class="btn btn-primary">
    Create New Quiz
</a>

@if (Model.Count() > 0)
{
    <table class="table">
        <thread>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Creator</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.Type</td>
                    <td>@obj.Creator</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No quiz exists.</p>
}
