@model QuizApp.Models.Quiz
@{ ViewData["Title"] = "Play"; }

<h1>@Model.Title</h1>

<a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
<a asp-route-Id="@Model.Id" asp-action="Edit" class="btn btn-primary"><i class="fas fa-pen"></i></a>
<a asp-route-Id="@Model.Id" asp-action="Results" class="btn btn-primary"><i class="fas fa-check"></i></a>