@model QuizApp.Models.Quiz
@{ ViewData["Title"] = Model.Title; }

<h4>
    @{int type = (int)Model.Type;}
    @if (type == 0) {<i class="fas fa-brain"></i>}
    else if (type == 1) {<i class="fas fa-smile"></i>}
    else if (type == 2) {<i class="fas fa-chart-pie"></i>}
    @Model.Title
    <a asp-route-Id="@Model.Id" asp-action="Editor" class="btn btn-light badge"><i class="fas fa-pen"></i></a>
</h4><br />

<div>
    No Results
</div><br />

<div class="form-row">
    <a asp-route-Id="@Model.Id" asp-action="Play" class="btn btn-dark col-md-12">Retake quiz &nbsp;<i class="fas fa-undo"></i></a>
</div>