@model QuizApp.Models.Question
@{ ViewData["Title"] = "Quiz Creator"; }

<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <input asp-for="Quest" class="form-control" placeholder="Title" />
            <span asp-validation-for="Quest" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <input asp-for="Answ0" class="form-control" placeholder="Title" />
            <span asp-validation-for="Answ0" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <input asp-for="Answ1" class="form-control" placeholder="Title" />
            <span asp-validation-for="Answ1" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <input asp-for="Answ2" class="form-control" placeholder="Title" />
            <span asp-validation-for="Answ2" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <input asp-for="Answ3" class="form-control" placeholder="Title" />
            <span asp-validation-for="Answ3" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <input asp-for="QuizId" value="@ViewData["QuizId"]" class="form-control" placeholder="Title" hidden />
        </div>
    </div>

    <div class="form-row">
        <a asp-route-Id="@ViewData["QuizId"]" asp-controller="Quiz" asp-action="Editor" class="btn btn-secondary col-md-6">Cancel &nbsp;<i class="fas fa-times"></i></a>
        <button type="submit" class="btn btn-dark col-md-6">Add &nbsp;<i class="fas fa-check"></i></button>
    </div>
</form>